body {
  background-color: #e5e5e5;
  font-family: GothamSSm, Helvetica, Arial, sans-serif;
}

body > .navbar {
  background-color: #171717;
  color: #e5e5e5;
}

body > .navbar > a {
  color: #e5e5e5;
}

h6 > a {
  float: right;
}

.bi {
  margin-top: 20px;
  font-size: 60pt;
}

.btn-group {
  display: block;
  text-align: center;
}

.on {
  color: yellow;
}
